<!doctype html>
<html lang="en">
	<head>
		<title>
			{% block title %}Login Page
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block stylesheet %}
			<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="css/login.css">
		{% endblock %}
	</head>
	{% block body %}
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-10">
						<div class="wrap d-md-flex">
							<div class="img" style="background-image: url({{'img/slide5.png'}});"></div>
							<div class="login-wrap p-4 p-md-5">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4">Sign In</h3>
									</div>
									<div class="w-100">
										<p class="social-media d-flex justify-content-end">
											<a href="#" class="social-icon d-flex align-items-center justify-content-center">
												<span class="fa fa-facebook"></span>
											</a>
											<a href="#" class="social-icon d-flex align-items-center justify-content-center">
												<span class="fa fa-twitter"></span>
											</a>
										</p>
									</div>
								</div>

								<form method="post" class="signin-form">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3">
											You are logged in as
											{{ app.user.userIdentifier }},
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% endif %}
									<div class="form-group mb-3">
										<label class="label" for="name">Username</label>
										<input type="text" name="username" id="inputUsername" class="form-control" value="{{ last_username }}" placeholder="Username" required autofocus>
									</div>
									<div class="form-group mb-3">
										<label class="label" for="password">Password</label>
										<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									</div>
									<div class="form-group">
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
									</div>
									<div class="form-group d-md-flex">
										<div class="w-50 text-left">
											<label class="checkbox-wrap checkbox-primary mb-0" name="_remember_me">Remember Me
												<input type="checkbox" checked>
												<span class="checkmark"></span>
											</label>
										</div>
										<div class="w-50 text-md-right">

											<a href="{{ path('app_forgot_password_request') }}">Forgot Password</a>

										</div>
									</div>
								</form>
								<p class="text-center">Not a member?

									<a data-toggle="tab" href="{{ path('app_register') }}">Sign Up</a>

								</p>
								<br/>
								<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
	{% block js %}
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	{% endblock %}
</html>
<!-- <label for="inputUsername">Username</label>
    <input type="text"   class="form-control" autocomplete="username" required >
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>-->

