{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 250px;">
		<img class="bg" src="{{asset('img/wallpaper.jpg')}}" alt="">
		<h3 style="color: aliceblue;">Nos produits</h3>
		<hr/>
		<br/>
	</div>
	<br/>
	<br/>
					

	<div class="container">	
	<div class="row">
	<form action="{{ path('app_recherche_prix')}}" method="POST" name="">

											<div class="input-group mt-4">
											  <div class="col">

												<input type="text" name="min" class="form-control form-control1" placeholder="Prix min">
												</div>
												 <div class="col">

												<input type="text" name="max" class="form-control form-control1" placeholder="Prix max">
                                                </div>
												<div class="input-group-append">
                                                   <button type="submit"
													<span class="input-group-text bg-transparent text-primary form-control1">
														<i class="fa fa-search"></i>
													</span>
                                                      </button>
												</div>

											</div>

										</form>
	</div>			

		<div class="row">
        <!--prod-->
						{% for produit in produits %}
									<div class="col-lg-4 col-md-6 col-sm-12 pb-1">

										<div class="card product-item product-item1 border-0 mb-4">
											<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
												<img class="img-fluid produits" src="{{asset('uploads/images/' ~ produit.image)}}" alt="" style='align-self:center' width="100%"/>
											</div>
											<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
												<h6 class="text-truncate mb-3">{{produit.nom}}</h6>
												<div class="d-flex justify-content-center">
													<h6>{{produit.prix}} DT</h6>
												</div>
											</div>


											<div class="card-footer d-flex justify-content-between bg-light border">
												<a href="{{path('app_produit_details',{'id':  produit.id })}}" class="btn btn-sm text-dark p-0">
													<i class="fa fa-eye text-primary mr-1"></i>Voir Detail</a>
												<a href="{{path('app_panier_ajouter',{'id': produit.id})}}" class="btn btn-sm text-dark p-0">
													<i class="fa fa-shopping-cart text-primary mr-1"></i>ajouter au panier</a>

											</div>
										</div>

									</div>
								{% endfor %}


								
            <!--prod-->
		</div>
		 {{ knp_pagination_render(produits,"pagination/pagination.html.twig") }}
	</div>
	
	<br/>
	<br/>
    <br/>
	<br/>
    <br/>
	<br/>
{% endblock %}