{{ form_start(form) }}
    <div class="form-group">
      {{ form_label(form.nom, "Nom") }}
      {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Enregistrer Catégorie') }}</button>
{{ form_end(form) }}