<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Administration</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('Admin/plugins/fontawesome-free/css/all.min.css')}}">

			<link rel="stylesheet" href="{{asset('Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
  <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

			<link rel="stylesheet" href="{{asset('Admin/dist/css/adminlte.min.css')}}">
		{% endblock %}
	</head>
	<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<!-- Navbar -->
			<nav class="main-header navbar navbar-expand navbar-dark">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="" role="button">
							<i class="fas fa-bars"></i>
						</a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="" class="nav-link">Accueil</a>
					</li>
				</ul>
				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<!-- Navbar Search -->
					<li class="nav-item">
						<a class="nav-link" data-widget="navbar-search" href="" role="button">
							<i class="fas fa-search"></i>
						</a>
						<div class="navbar-search-block">
							<form class="form-inline">
								<div class="input-group input-group-sm">
									<input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
									<div class="input-group-append">
										<button class="btn btn-navbar" type="submit">
											<i class="fas fa-search"></i>
										</button>
										<button class="btn btn-navbar" type="button" data-widget="navbar-search">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}" role="button">
							<i class='fa fa-door-closed'></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-widget="fullscreen" href="" role="button">
							<i class="fa fa-expand-arrows-alt"></i>
						</a>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->
			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="index3.html" class="brand-link">
					<i class="nav-icon fas fa-user-alt"></i>
					<span class="brand-text font-weight-light">Administration</span>
				</a>
				<!-- Sidebar -->
				<div class="sidebar">
					<!-- SidebarSearch Form -->
					<div class="form-inline">
						<div class="input-group" data-widget="sidebar-search">
							<input class="form-control form-control-sidebar" type="Rechercher" placeholder="Rechercher" aria-label="Rechercher">
							<div class="input-group-append">
								<button class="btn btn-sidebar">
									<i class="fas fa-search fa-fw"></i>
								</button>
							</div>
						</div>
					</div>
					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
							<li class="nav-item menu-open">
								<a href="" class="nav-link active">
									<p>
										Dashboard
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_user_index')}}" class="nav-link">
									<i class="nav-icon fas fa-user-alt"></i>
									<p>
										Utilisateur
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{path('app_produit_list')}}" class="nav-link">
									<i class="nav-icon fas fa-copy"></i>
									<p>
										Produits
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{path('app_categorie_list')}}" class="nav-link">
									<i class="nav-icon fas fa-copy"></i>
									<p>
										Catégorie
									</p>
								</a>
							</li>
              </li>
         <li class="nav-item">
            <a href="{{path('app_rate')}}" class="nav-link">

              <i class="nav-icon fas fa-copy"></i>
              <p>
               Rate
                 
              </p>
            </a>
           
          </li>
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-gamepad"></i>
									<p>
										Tournoi
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_dashboard_posts') }}" class="nav-link">
									<i class="nav-icon fas fa-edit"></i>
									<p>
										Post
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-table"></i>
									<p>
										Reclamation
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_posts_stats') }}" class="nav-link">
									<i class="nav-icon fas fa-table"></i>
									<p>
										Statistiques
									</p>
								</a>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="row"> 
							{% block body %}{% endblock %}
						</div>
						<!-- /.row -->
					</div>
					<!--/. container-fluid -->
				</section>
					<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
	</div>
	{% block js %}
		<!-- REQUIRED SCRIPTS -->
		<!-- jQuery --><script src="{{asset('Admin/plugins/jquery/jquery.min.js')}}"> </script>
		<!-- Bootstrap -->
		<script src="{{asset('Admin/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- overlayScrollbars -->
		<!-- AdminLTE App -->
		<script src="{{asset('Admin/dist/js/adminlte.js')}}"></script>
		<!-- PAGE PLUGINS -->
		<!-- jQuery Mapael -->
		<script src="{{asset('Admin/plugins/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
		<script src="{{asset('Admin/plugins/raphael/raphael.min.js')}}"></script>
		<script src="{{asset('Admin/plugins/jquery-mapael/jquery.mapael.min.js')}}"></script>
		<script src="{{asset('Admin/plugins/jquery-mapael/maps/usa_states.min.js')}}"></script>
		<!-- ChartJS -->
		<script src="{{asset('Admin/plugins/chart.js/Chart.min.js')}}"></script>
		<!-- AdminLTE for demo purposes -->
	{% endblock %}

</html>

